# Exclude the files of the report
docs/figures/*
docs/*.aux
docs/*.log
docs/*.gz
docs/*.tex


# Exclude the papers
papers/*.pdf


# Exclude the files of the AFM tip codes
meniscus_afm/bin/*.dat
meniscus_afm/bin/afmeniscus


# Exclude the virus things
dessiccation_viruses/GENERATION_SHAPE


